@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
overflow: hidden;
}

*{
user-select: none;
-ms-user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
-ms-touch-select: none;
-webkit-touch-select: none;
font-family: 'Roboto', sans-serif;
}

body {
position: relative;
min-width: 100vw;
min-height: 100vh;
margin: 0;
padding: 0;
overflow: hidden;
}

.fondo-gif {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
object-position: center center;
z-index: -1;
pointer-events: none;
user-select: none;
transition: object-position 0.3s;
}

@media (max-width: 600px) {
.fondo-gif {
   object-position: center center;
   height: 100vh;
   width: 100vw;
   left: 0;
   border-radius: 0;
   box-shadow: none;
}
}